<ion-tabs [environmentInjector]="environmentInjector">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="build">
      <ion-icon name="build"></ion-icon>
      Build
    </ion-tab-button>
    <ion-tab-button tab="learn">
      <ion-icon name="school"></ion-icon>
      Learn
    </ion-tab-button>
    <ion-tab-button tab="play">
      <ion-icon name="dice"></ion-icon>
      Play
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      Settings
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
